html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
}

img {
    width: 90%;
    height: 15rem;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

h1, h2, h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}


.container {
    margin: 0 auto;
    max-width: 80%;
}


#carrito {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
}

#carrito img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    filter: brightness(0.8);
    transition: all 0.3s ease;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: burlywood;

  & a {
    padding: 1.5rem 2rem;
  }
}

nav a:hover {
  background-color: chocolate;
  color: white;
  border-radius: 1rem;
}

.mensaje-bienvenida {
  margin: 2rem 0;
}

.item-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;

  & .item__description {
    padding: 1rem;
    font-size: 1.4rem;
    text-align: justify;
  }
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;

  & img{
    border-radius: 1rem;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }
}

.card {
  background-color: lightgray;
  border-radius: 0.8rem;
  width: 30rem;
  height: 22rem;
  margin-top: 2rem;
}

.category-item {
  padding-top: 1rem;

  & h3 {
    margin-bottom: 1rem;
  }
}